@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="col-lg-8 py-4 px-4 border rounded">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post">
        <!-- Data and Submit elements -->
        <div class="mb-3 row">
            <label asp-for="Data.Name1" class="col-lg-2 col-form-label text-end"></label>
            <div class="col-lg-6">
                <input asp-for="Data.Name1" class="form-control" >
                <span asp-validation-for="Data.Name1" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Data.Name2" class="col-lg-2 col-form-label text-end"></label>
            <div class="col-lg-6">
                <input asp-for="Data.Name2" class="form-control" >
                <span asp-validation-for="Data.Name2" class="text-danger"></span>
            </div>
        </div>
        <div class="text-right row mt-5">
            <div class="col-lg-2">&nbsp;</div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary" >Submit</button>
            </div>
            <div class="col-lg-8">
                <div>@Model.Message</div>
            </div>
        </div>
    </form>
</div>
